$title-color : #1B213B;
$text-color : #293157;
$font : 'Noto Sans', sans-serif;
$main-bckgrnd-color: #FFFFFF;
$linkBckgrndColor: #1B1C49;
$navBckgrndColor : #417D8F;
$containerSize : 60%;


@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin background($url){
  background-position: center;
  background-image: url($url);
  background-attachment: fixed;
}

body{
  margin: 0;
  padding: 0;
  background-size: 100%;
  @include background("images/bckgrnd.png");
  font-family: $font;
}

main {
  width: $containerSize;
  background-color: $main-bckgrnd-color;
  margin: 100px auto 30px auto;
  padding: 15px;
  box-shadow : 5px 5px 5px black;
  @include border-radius(5px);

  h1,h2,h3,h4,h5,h6{
    color: $title-color;
    text-align: center;
  }

  p, dl, ul{
    color: $text-color;
    margin: 15px;
    padding: 15px;
    text-align: justify;
  }

  dt {
    margin-bottom: 15px;
    color: $title-color;
    font-weight: bold;
  }
  dl dt{
    margin-top: 20px;
  }

  span p{
    text-align: center;
  }

  a, a:visited{
    text-decoration: none;
    margin: 0 auto;
    padding: 15px;
    width: 30%;
    display: block;
    text-align: center;
    color: $main-bckgrnd-color;
    font-weight: bold;
    border: 1px solid $main-bckgrnd-color;
    background-color: $linkBckgrndColor;
    @include border-radius(5px);
  }

  a:hover{
    @extend a;
    box-shadow: 5px 5px 5px black;
  }

  img{
    width: 30%;
    display: block;
    margin: 0 auto;
    border: 10px groove $navBckgrndColor;
  }
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: $containerSize;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: center;
  background-color: $navBckgrndColor;
  color: $main-bckgrnd-color;
  border-radius: 0 0 5px 5px;
  position: fixed;
  top: 0;
  left: 0; right: 0;

  ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  li{
    margin-left: 20px;
  }

  a, a:visited{
    color: $main-bckgrnd-color;
    text-decoration: none;
  }

  a:hover{
    @extend a;
    font-style: italic;
  }

  li.current{
    background-color: $linkBckgrndColor;
    border: 1px solid $main-bckgrnd-color;
    padding: 0 20px;
    @include border-radius(5px);
  }
}

footer{
  margin: 30px auto;
  width: $containerSize;
  text-align: center;

  a, a:hover, a:visited{
    padding: 15px;
    color: $main-bckgrnd-color;
  }

  i.current{
    color: black;
  }

}

